<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/validate}" 
		th:object="${tradeDTO}" method="post" class="form-horizontal" style="width: 100%">
				<p>
					Account:<br /> <input type="text" th:field="*{account}" /><br />
					<span style="color: red;" th:if="${#fields.hasErrors('account')}"
						th:errors="*{account}">Account is mandatory!</span>
				</p>

				<p>
					Type:<br /> <input type="text" th:field="*{type}" class="medium" /><br />
					<span style="color: red;" th:if="${#fields.hasErrors('type')}"
						th:errors="*{type}">Type is mandatory! </span>
				</p>
				<p>
					Buy quantity: <br /> <input type="text" th:field="*{buyQuantity}" /><br />
					<span style="color: red;"
						th:if="${#fields.hasErrors('buyQuantity')}"
						th:errors="*{buyQuantity}">Invalid number, 999999 max with 4 fractional digits max</span>
				</p>
				<p>
					Sell quantity: <br /> <input type="text" th:field="*{sellQuantity}" /><br />
					<span style="color: red;"
						th:if="${#fields.hasErrors('sellQuantity')}"
						th:errors="*{sellQuantity}">Invalid number, 999999 max with 4 fractional digits max</span>
				</p>
				<p>
					Buy price: <br /> <input type="text" th:field="*{buyPrice}" /><br />
					<span style="color: red;"
						th:if="${#fields.hasErrors('buyPrice')}"
						th:errors="*{buyPrice}">Invalid number, 999999 max with 4 fractional digits max</span>
				</p>
				<p>
					Sell price: <br /> <input type="text" th:field="*{sellPrice}" /><br />
					<span style="color: red;"
						th:if="${#fields.hasErrors('sellPrice')}"
						th:errors="*{sellPrice}">Invalid number, 999999 max with 4 fractional digits max</span>
				</p>
				<p>
					<a href="/trade/list" class="btn btn-danger btn-sm">Cancel</a>
					<button type="submit" class="btn btn-primary btn-sm">Add
						Trade</button>
				</p>

		</form>
	</div>

</div>
</body>
</html>